<div
  class="h-14 w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 items-center flex"
>
  <button mat-button routerLink="" class="px-1">
    <mat-icon>local_fire_department</mat-icon>
    <span class="text-xl">LAWrence FULton</span>
  </button>

  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/jokes']"
    class="m-1"
  >
    <mat-icon>emoji_emotions</mat-icon>
    <span>Jokes</span>
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/cv']" class="m-1">
    <mat-icon>laptop_mac</mat-icon>
    <span>CV</span>
  </button>

  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/dolphin-dog']"
    class="m-1"
  >
    <mat-icon>pets</mat-icon>
    <span>Dolphin Dog</span>
  </button>
</div>
