<div class="flex items-center justify-center min-h-screen">

<div class=" w-[90%] grid grid-cols-2 gap-4 items-center justify-center">
    <img
      class="w-full min-w-50 justify-self-center aspect-square"
      ngSrc="/assets/figures/DolphinDog.jpg"
      alt="image"
      height="2048" width="2048" />
    <img class="w-full" ngSrc="/assets/figures/DolphinDog2.png" alt="image" height="512" width="512" />
    <img class="w-full" ngSrc="/assets/figures/DolphinDog3.png" alt="image" height="1024" width="1024" />
    <img class="w-full" ngSrc="/assets/figures/DolphinDog4.png" alt="image" height="1024" width="1024" />
  </div>

</div>
